<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="interfacing">
      <h2 data-cy="interfacingDetailsHeading"><span jhiTranslate="smolPlusTempApp.interfacing.detail.title">Interfacing</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="smolPlusTempApp.interfacing.id">Id</span></dt>
        <dd>
          <span>{{ interfacing.id }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.interfacing.isAssigned">Is Assigned</span></dt>
        <dd>
          <span>{{ interfacing.isAssigned }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.interfacing.ipAddress">Ip Address</span></dt>
        <dd>
          <span>{{ interfacing.ipAddress }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.interfacing.hash">Hash</span></dt>
        <dd>
          <span>{{ interfacing.hash }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.interfacing.serial">Serial</span></dt>
        <dd>
          <span>{{ interfacing.serial }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.interfacing.version">Version</span></dt>
        <dd>
          <span>{{ interfacing.version }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.interfacing.port">Port</span></dt>
        <dd>
          <span>{{ interfacing.port }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.interfacing.establishment">Establishment</span></dt>
        <dd>
          <div *ngIf="interfacing.establishment">
            <a [routerLink]="['/establishment', interfacing.establishment.id, 'view']">{{ interfacing.establishment.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/interfacing', interfacing.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
