<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-interfacing-heading"
        data-cy="InterfacingCreateUpdateHeading"
        jhiTranslate="smolPlusTempApp.interfacing.home.createOrEditLabel"
      >
        Crear o editar Interfacing
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfacing.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfacing.isAssigned" for="field_isAssigned">Is Assigned</label>
          <input
            type="checkbox"
            class="form-check"
            name="isAssigned"
            id="field_isAssigned"
            data-cy="isAssigned"
            formControlName="isAssigned"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfacing.ipAddress" for="field_ipAddress">Ip Address</label>
          <input type="text" class="form-control" name="ipAddress" id="field_ipAddress" data-cy="ipAddress" formControlName="ipAddress" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfacing.hash" for="field_hash">Hash</label>
          <input type="text" class="form-control" name="hash" id="field_hash" data-cy="hash" formControlName="hash" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfacing.serial" for="field_serial">Serial</label>
          <input type="text" class="form-control" name="serial" id="field_serial" data-cy="serial" formControlName="serial" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfacing.version" for="field_version">Version</label>
          <input type="text" class="form-control" name="version" id="field_version" data-cy="version" formControlName="version" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfacing.port" for="field_port">Port</label>
          <input type="text" class="form-control" name="port" id="field_port" data-cy="port" formControlName="port" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfacing.idEstablishment" for="field_idEstablishment"
            >Id Establishment</label
          >
          <select
            class="form-control"
            id="field_idEstablishment"
            data-cy="idEstablishment"
            name="idEstablishment"
            formControlName="idEstablishment"
            [compareWith]="compareEstablishment"
          >
            <option *ngIf="!editForm.get('idEstablishment')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="establishmentOption" *ngFor="let establishmentOption of establishmentsSharedCollection">
              {{ establishmentOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['idEstablishment'])!.invalid &&
            (editForm.get(['idEstablishment'])!.dirty || editForm.get(['idEstablishment'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['idEstablishment'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
